In [1]:
a = 10
b = 15
c = a + b
print("sum= ",c)

sum=  25

In [2]:
# Docstring
def add(x,y):
    '''
    This function take two numbers and find their sum.
    It displays the sum as result.
    '''
    print("Sum=",(x+y))
def message():
    """
    This fuction displays a message
    This is a welcome to the user.
    """
    print("welcome to Python")
# now call the functions
add(10,25)
message()

Sum= 35
welcome to Python

In [3]:
# python program to add two complex numbers
c1 = 2.5+2.5j
c2 = 3.0-0.5j
c3 = c1 + c2
print("Sum=",c3)

Sum= (5.5+2j)

In [4]:
# python program to convert into decimal number system
n1 = 0o17
n2 = 0B1110010
n3 = 0x1c2

n = int(n1)
print("Octal 17 = ",n)
n = int(n2)
print('Binary 1110010 = ',n)
n = int(n3)
print('Hexadecimal 1c2 = ',n)

Octal 17 =  15
Binary 1110010 =  114
Hexadecimal 1c2 =  450

In [5]:
# Python program to convert into decimal number system - v2.0
s1 = "17"
s2 = "1110010"
s3 =  "1c2"

n = int(s1,8)
print("Octal 17 = ",n)
n = int(s2,2)
print("Binary 1110010 = ",n)
n = int(s3,16)
print("Hexadecimal 1c2 = ",n)

Octal 17 =  15
Binary 1110010 =  114
Hexadecimal 1c2 =  450

In [6]:
a = 10
b = bin(a)
print(b) #displays 0b1010
b = oct(a)
print(b) #displays 0o12
b = hex(a)
print(b) # displays 0xa

0b1010
0o12
0xa

In [7]:
x = 15.56
print(int(x))

15

In [8]:
num = 15
print(float(num))

15.0

In [9]:
a = 10
b = 20
if(a<b):
    print("Hello")

Hello

In [10]:
a = 10>5
print(a)
a = 5>10
print(a)

True
False

In [11]:
True+True

2

# True is 1 and False is 0

In [12]:
True - False

1

In [13]:
s = "welcome to Core Python"
print(s)
print(s[0])
print(s[3:7])
print(s[11:])
print(s[-1])# displays first character from the end
print(s*2)

welcome to Core Python
w
come
Core Python
n
welcome to Core Pythonwelcome to Core Python

In [14]:
#program to understand bytes type array
#create a list of byte numbers
elements = [10,20,0,40,15]
#covert the list into bytes type array
x = bytes(elements)
#retrive elements drom x using for loop and display
for i in x:
    print(i)

10
20
0
40
15

In [15]:
#program to understand bytearray type array 
#create a list of byte numbers

elements = [10,20,0,40,15]

#convert the list into bytearray type array

x = bytearray(elements)

#modify the first two elements of x
x[0] = 88
x[1] = 99

# retrive elements from x using for loop and disply
for i in x:
    print(i)

88
99
0
40
15

In [16]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
r = range(30,40,2)
for i in r:
    print(i)

30
32
34
36
38

In [18]:
list = [10,-20,15.5,'Vijay','Mary']
print(list)
print(list[0])
print(list[1:3])
print(list[-2])
print(list*2)

[10, -20, 15.5, 'Vijay', 'Mary']
10
[-20, 15.5]
Vijay
[10, -20, 15.5, 'Vijay', 'Mary', 10, -20, 15.5, 'Vijay', 'Mary']

In [19]:
tpl = (10,-20,15.5,'Vijay','Mary')
print(tpl)
print(tpl[0])
print(tpl[1:3])
print(tpl[-2])
print(tpl*2)
# tpl[0] = 99  ## gives error as tuple is immutable

(10, -20, 15.5, 'Vijay', 'Mary')
10
(-20, 15.5)
Vijay
(10, -20, 15.5, 'Vijay', 'Mary', 10, -20, 15.5, 'Vijay', 'Mary')

In [20]:
r = range(10)
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
s = {10,20,30,10,50}
print(s)

{10, 20, 50, 30}

In [22]:
ch = set("Hello")
print(ch)

{'o', 'l', 'e', 'H'}

In [23]:
lst = [1,2,5,4,3]
s = set(lst)
print(s)
#print(s[0])
#print(s[0:2])
# gives error as set are unordered
s.update([50,60])
print(s)
s.remove(50)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 50, 60}
{1, 2, 3, 4, 5, 60}

In [24]:
s = {50,60,70,80,90}
print(s)

fs = frozenset(s)  #  unlike set the frozenset cannot be modified
print(fs)

{80, 50, 70, 90, 60}
frozenset({80, 50, 70, 90, 60})

In [25]:
fs = frozenset("abcdefg")
print(fs)

frozenset({'g', 'c', 'd', 'f', 'e', 'a', 'b'})

In [26]:
d = {10:'Kamal',11:'Pranav',12:'Hasini',13:'Anup',14:'Reethu'}
print(d)
print(d[11])
print(d.keys())
print(d.values())
d[10] = 'Hareesh'
print(d)
del d[11]
print(d)

{10: 'Kamal', 11: 'Pranav', 12: 'Hasini', 13: 'Anup', 14: 'Reethu'}
Pranav
dict_keys([10, 11, 12, 13, 14])
dict_values(['Kamal', 'Pranav', 'Hasini', 'Anup', 'Reethu'])
{10: 'Hareesh', 11: 'Pranav', 12: 'Hasini', 13: 'Anup', 14: 'Reethu'}
{10: 'Hareesh', 12: 'Hasini', 13: 'Anup', 14: 'Reethu'}

In [27]:
str = "This is first line and \
this will be continued with the first line"
print(str)

This is first line and this will be continued with the first line

In [28]:
str = "This is\nPython"
print(str)

This is
Python

In [29]:
a =15
print(type(a))
a= 15.5
print(type(a))
s = "Hello"
print(type(s))
print(type("Hai"))
lst = [1,2,3,4,5]
print(type(lst))
t = (1,2,3,4)
print(type(t))
s = {1,2,3,4}
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [30]:
ch = 'A'
print(type(ch))

<class 'str'>

In [31]:
str = 'Bharat'
print(str[0])
for i in str:
    print(i)

print(str[0].isupper())
print(str[1].isupper())

B
B
h
a
r
a
t
True
False