In [1]:
import re
prog = re.compile(r'm\w\w')
str = 'cat mat bat rat'
result = prog.search(str)
print(result.group())
str1 = 'Operating system format'
result = prog.search(str1)
print(result.group())

mat
mat

In [1]:
import re

str = 'man sun mop run'
result = re.search(r'm\w\w',str)
if result: # if result is not None
    print(result.group())

man

In [2]:
if result is not None:
    print(result.group())
    
if result:
    print(result.group())

man
man

In [3]:
import re
str = 'man sun mop run'
result = re.findall(r"m\w\w",str)
print(result)

['man', 'mop']

In [4]:
for s in result :
    print(s)

man
mop

In [5]:
import re
str = 'man sun mop run'
result = re.match(r'm\w\w',str)
print(result.group())

man

In [8]:
import re
str = 'sun man mop run'
result = re.match(r'm\w\w',str)
print(result.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [9]:
print(result)

None

In [14]:
import re
str = 'This; is the: "Core" Python\' s book'
result =  re.split(r'\W+',str)
print(result)

['This', 'is', 'the', 'Core', 'Python', 's', 'book']

In [15]:
import re
str ='Kumbhmela will be conducted at Ahemdabad in India.'
res = re.sub(r'Ahemdabad','Allahabad',str)
print(res)

Kumbhmela will be conducted at Allahabad in India.

In [23]:
import re
str = 'an apple a day keeps the doctor away'
result = re.findall(r'a[\w]*',str)

# findall() returns a list , retrieve the elements from list 
for word in result:
    print(word)

an
apple
a
ay
away

In [24]:
result = re.findall(r'\ba[\w]*\b',str)
print(result)

['an', 'apple', 'a', 'away']

In [25]:
import re
str = 'The meeting will be conducted on 1st and 21st of every month'
result = re.findall(r'\d[\w]*',str)
for word in result:
    print(word)

1st
21st

In [26]:
import re
str = 'one two three four five six seven 8 9 10'
result = re.findall(r'\b\w{5}\b',str)
print(result)

['three', 'seven']

In [27]:
# search() will give the first matching word only
import re
str = 'one two three four five six seven 8 9 10'
result = re.search(r'\b\w{5}\b',str)
# to retrieve the word from result object , use group()
print(result.group())

three

In [28]:
import re
str = 'one two three four five six seven 8 9 10'
result = re.findall(r'\b\w{4,}\b',str)
print(result)

['three', 'four', 'five', 'seven']

In [29]:
import re
str = 'one two three four five six seven 8 9 10'
result = re.findall(r'\b\w{3,5}\b',str)
print(result)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [30]:
result = re.findall(r'\b\d\b',str)
print(result)

['8', '9']

In [31]:
import re 
str = ' one two three one two three'
result = re.findall(r't[\w]*\Z',str)
print(result)

['three']

In [32]:
import re
str = 'Nageshwara Rao : 97006612345'
res = re.search(r'\d+',str)
print(res.group())
print(res)

97006612345
<re.Match object; span=(17, 28), match='97006612345'>

In [34]:
res = re.search(r'\D+',str)
print(res.group())

Nageshwara Rao :

In [35]:
import re
str = 'ani akhil ananat arun arati arundhati abhijit ankur'
res = re.findall(r'a[nk][\w]*',str)
print(res)

['ani', 'akhil', 'ananat', 'ankur']

In [36]:
import re 
str = 'Vijay 20 1-5-2001 , Rohit 21 22-10-1990 , Sita 22 15-09-2000'
res = re.findall(r'\d{2}-\d{2}-\d{4}',str)
print(res)

['22-10-1990', '15-09-2000']

In [37]:
res = re.findall(r'\d{1,2}-\d{1,2}-\d{4}',str)
print(res)

['1-5-2001', '22-10-1990', '15-09-2000']

In [38]:
import re
str = 'Hello World'
res = re.search(r"^He",str)
if res : 
    print("String starts with 'He'")
else:
    print('String does not start with "He"')

String starts with 'He'

In [39]:
import re
str = "Hello World"
res = re.search(r"World$",str)
if res:
    print("String ends with 'World'")
else:
    print("String does not end with 'World'")

String ends with 'World'

In [40]:
import re
str = "Hello World"
res = re.search(r"world$",str,re.IGNORECASE)
if res :
    print('String ends with "World"')
else:
    print('String does not end with "World"')

String ends with "World"

In [42]:
# displaying marks and names
import re
str = 'Rahul got 75 marks , Vijay got 55 marks ,whereas Subbu got 98 marks'

# extract only marks having 2 digits 
marks = re.findall('\d{2}',str)
print(marks)

# extract names starting with capital letter
# and remaining alphabetic characters
names = re.findall('[A-Z][a-z]*',str)
print(names)

['75', '55', '98']
['Rahul', 'Vijay', 'Subbu']

In [43]:
import re
str = 'The meeting may be at 8am or 9am or 4pm or 5pm.'
res = re.findall(r"\dam|\dpm",str)
print(res)

['8am', '9am', '4pm', '5pm']