In [3]:
# knowing the time since the epoch i.e from 1st jan 1970
import time
epoch = time.time()  # call time() function of time module
print(epoch)

1662135656.010693

In [4]:
# converting the epoch time into date and time
import time

# localtime() converts the epoch time into time_struct object t
t = time.localtime(epoch)

# retrieve the date from the structure t
d = t.tm_mday
m = t.tm_mon
y = t.tm_year

print('Current date is : %d - %d - %d'%(d,m,y))

# retrieve the time from the structure t
h = t.tm_hour
m = t.tm_min
s = t.tm_sec

print('Current time is : %d : %d : %d'%(h,m,s))

Current date is : 2 - 9 - 2022
Current time is : 21 : 50 : 56

In [5]:
# convert epoch time into date and time using ctime()
import time
t = time.ctime(epoch)  # ctime() with epoch seconds
print(t)

Fri Sep  2 21:50:56 2022

In [6]:
# finding current date and time using ctime()
import time
t = time.ctime()  # ctime() without epoch
print(t)

Fri Sep  2 21:54:23 2022

In [1]:
# finding current date and time
from datetime import *
now = datetime.now()
print(now)

print('Date now : {}/{}/{}'.format(now.day,now.month,now.year))
print('Time now : {}:{}:{}'.format(now.hour,now.minute,now.second))

2022-09-03 11:12:24.127842
Date now : 3/9/2022
Time now : 11:12:24

In [2]:
# finding today's date and time
from datetime import *

# today() of datetime class gives date and time
tdm = datetime.today()
print("Today's date and time = ",tdm)

# today() of date class gives the date only
td = date.today()
print("Today's date = ",td)

Today's date and time =  2022-09-03 11:15:09.215914
Today's date =  2022-09-03

In [3]:
# combining date and time
from datetime import*
d = date(2003,5,6)
t = time(1,38)
dt = datetime.combine(d,t)
print(dt)

2003-05-06 01:38:00

In [6]:
# creating datetime object and change its contents
from datetime import *

# create a datetime object
dt1 = datetime(year = 2003,month = 6 , day = 5 , hour = 15 , minute = 30 , second = 15)
print(dt1)

# change its year ,month and hour values
dt2 = dt1.replace(year = 2022 , month = 10,hour = 20 )
print(dt2)

2003-06-05 15:30:15
2022-10-05 20:30:15

In [7]:
# formatting the date
from datetime import * 

# get current date into td object
td = date.today()
print(td)

# format the td and convert into string str
str = td.strftime("%d,%B,%Y")
print(str)

2022-09-03
03,September,2022

In [8]:
# finding the day of the year 
from datetime import *

# get today's date
td = date.today()
print(td) # display content of td object

# %j returns day of the year as : 001 ,002,.... 366
s1 = td.strftime('%j')
print('Today is',s1,'th day of the current year')

# find the week day name
s2 = td.strftime('%A')
print('It is ',s2)

2022-09-03
Today is 246 th day of the current year
It is  Saturday

In [9]:
# formatting the current time
from datetime import *

# create datetime object with current date and time 
dt = datetime.now()
print(dt)  # display content of dt object

# display only time
print('Current time : ',dt.strftime("%H:%M:%S"))

2022-09-03 11:29:32.614074
Current time :  11:29:32

In [10]:
# finding day of the week 
from datetime import *

# accept date , month , year from the keyboard
d , m , y = [int(x) for x in input("Enter a date : ").split('/')]

# store them in date class object 'dt'
dt = date(y,m,d)

# %w - day number and %A full name of the week day
print(dt.strftime('Day %w of the week . This is %A '))

Enter a date : 05/06/2003
Day 4 of the week . This is Thursday

In [12]:
# differnce days , week and months between two dates
from datetime import *

# enter the two dates from the keyboard
d1 , m1 , y1 = [int(x) for x in input('Enter first date :').split('/')]
d2 , m2 , y2 = [int(x) for x in input('Enter second date : ').split('/')]

# create date class objects with input 
dt1 = date(y1,m1,d1)
dt2 = date(y2,m2,d2)

# find days difference between these two dates
dt = dt1 - dt2
print('Days difference =  ',dt)

# find difference in weeks
weeks ,days = divmod(dt.days ,7)
print('Weeks difference = ',weeks)

# find difference in months
months , days = divmod(dt.days , 30)
print('Month difference = ',months)

Enter first date :05/06/2022
Enter second date : 05/06/2003
Days difference =   6940 days, 0:00:00
Weeks difference =  991
Month difference =  231

In [13]:
# difference between two dates along with times
from datetime import *

# create two datetime objects that store data and time
d1 = datetime(2000,6,25,8,00,25)
d2 = datetime(2016,5,20,7,55,15)

# find the difference in days and time
diff = d2 - d1
print(diff)

# divide days by 7 to get weeks and remaining days
weeks ,days = divmod(diff.days,7)

# divide seconds by 3600 to get hours and remaining seconds
hrs ,secs = divmod(diff.seconds , 3600)

# divide remaining seconds by 60 to get minutes
mins = secs//60  # get minutes

# take remaining seconds from the remainder of division
secs = secs% 60   # get remaining seconds 

print('Difference is %d weeks , %d days , %d hours , %d minutes and %d seconds '%(weeks , days , hrs ,mins, secs))

5807 days, 23:54:50
Difference is 829 weeks , 4 days , 23 hours , 54 minutes and 50 seconds

In [14]:
# finding the future date and time
from datetime import *

# store the date and time in datetime object : d1
d1 = datetime(2016,4,29,16,45,0)

# define the duration using timedelta object : period1
period1 = timedelta(days = 10 , seconds = 10 , minutes = 20 , hours = 12)

# add the duration to d1 and display
print('The new date and time is : ',d1+period1)

The new date and time is :  2016-05-10 05:05:10

In [15]:
# displaying a range of continuous dates
from datetime import *

# start with today or any other date
d = date.today()
print(d)

# add 1 to 9 days and get future dates
for x in range(1,10):
    nextdate = d + timedelta(days = x)
    print(nextdate)

2022-09-03
2022-09-04
2022-09-05
2022-09-06
2022-09-07
2022-09-08
2022-09-09
2022-09-10
2022-09-11
2022-09-12

In [16]:
# to know who is older
from datetime import *

# enter birth dates and store into date class object
d1 , m1 , y1 = [int(x) for x in input("Enter first person's birth date (DD/MM/YYYY) : ").split('/')]
b1 = date(y1 , m1 , d1)

d2 , m2 , y2 = [int(x) for x in input("Enter second person's birth date (DD/MM/YYYY) : ").split('/')]
b2 = date(y2 , m2 , d2)

# compare the birth dates
if b1 == b2:
    print('Both persons are of equal age')
elif b1 >b2:
    print('The second person is older')
else:
    print('The first person is older')

Enter first person's birth date (DD/MM/YYYY) : 05/06/2003
Enter second person's birth date (DD/MM/YYYY) : 02/12/1997
The second person is older

In [17]:
# sorting dates
from datetime import *

# take an empty list 
group = []

# add today's date to list 
group.append(date.today())

# create some more dates and add them to list
d = date(2020 ,6,29)
group.append(d)
d = date(2019,6,30)
group.append(d)

# add 25 days to the date and add to the list
group.append(d+timedelta(days = 25))

# sort the list
group.sort()

# display sorted dates
for d in group : 
    print(d)

2019-06-30
2019-07-25
2020-06-29
2022-09-03

In [18]:
# to generate random numbers between 100 and 200 every 3.5 secs

import time ,random 

# to generate 10 random numbers
for i in range(10):
    # generate in the range 100 to 200
    num = random.randrange(100,200,5)
    print(num)
    # supspend execution for 3.5 seconds
    time.sleep(3.5)

145
185
100
165
140
155
110
160
100
105

In [21]:
# to measure the time taken by the program 
from time import *

# note the starting time of the program 
t1 = perf_counter()

# do some processing
i , sum = 0,0
while(i<1000000):
    sum +=i
    i+=1

    
# make the processor or pvm sleep for 3 seconds
# this is also measured by the perf_counter()
sleep(3)

# note the ending time of the program 
t2 = perf_counter()

# find time for the program in seconds
print('Execution time  %f seconds'%(t2-t1))

Execution time  3.304548 seconds

In [24]:
# to test whether leap year or not
from calendar import *
y = int(input('Enter year : '))

if (isleap(y)):
    print(y , ' is leap year')
else:
    print(y ,' is not leap ')

Enter year : 2022
2022  is not leap

In [27]:
# to display calendar of given month of the year
from calendar import *

# ask for month and year
yy = int(input('Enter year : '))
mm = int(input('Enter month : '))

# display the calendar for that month
str = month(yy,mm)
print(str)

Enter year : 2022
Enter month : 9
   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [31]:
# to display calendar of entire year
from calendar import *
year = int(input('Enter year : '))
print(calendar(year))
print(calendar(2003,w = 2 , l = 1 , c = 6 ,m = 3))

Enter year : 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

                                  2003

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [37]:
print(calendar(2003,w = 4 , l = 2 , c = 12,m =3))
# w = width between two columns
# l = blank lines between two rows
# c = column wise space between two months
# m = no. of months in row

                                                             2003



             January                                       February                                       March

Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun

            1    2    3    4    5                                        1    2                                        1    2

  6    7    8    9   10   11   12               3    4    5    6    7    8    9               3    4    5    6    7    8    9

 13   14   15   16   17   18   19              10   11   12   13   14   15   16              10   11   12   13   14   15   16

 20   21   22   23   24   25   26              17   18   19   20   21   22   23              17   18   19   20   21   22   23

 27   28   29   30   31                        24   25   26   27   28                        24   25   26   27   28   29   30

                                                                                             31



              April                                          May                                           June

Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun

       1    2    3    4    5    6                              1    2    3    4                                             1

  7    8    9   10   11   12   13               5    6    7    8    9   10   11               2    3    4    5    6    7    8

 14   15   16   17   18   19   20              12   13   14   15   16   17   18               9   10   11   12   13   14   15

 21   22   23   24   25   26   27              19   20   21   22   23   24   25              16   17   18   19   20   21   22

 28   29   30                                  26   27   28   29   30   31                   23   24   25   26   27   28   29

                                                                                             30



               July                                         August                                      September

Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun

       1    2    3    4    5    6                                   1    2    3               1    2    3    4    5    6    7

  7    8    9   10   11   12   13               4    5    6    7    8    9   10               8    9   10   11   12   13   14

 14   15   16   17   18   19   20              11   12   13   14   15   16   17              15   16   17   18   19   20   21

 21   22   23   24   25   26   27              18   19   20   21   22   23   24              22   23   24   25   26   27   28

 28   29   30   31                             25   26   27   28   29   30   31              29   30



             October                                       November                                      December

Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun             Mon  Tue  Wed  Thu  Fri  Sat  Sun

            1    2    3    4    5                                        1    2               1    2    3    4    5    6    7

  6    7    8    9   10   11   12               3    4    5    6    7    8    9               8    9   10   11   12   13   14

 13   14   15   16   17   18   19              10   11   12   13   14   15   16              15   16   17   18   19   20   21

 20   21   22   23   24   25   26              17   18   19   20   21   22   23              22   23   24   25   26   27   28

 27   28   29   30   31                        24   25   26   27   28   29   30              29   30   31