In [1]:
print("Hello")
print('Hello')
print("This is the \nfirst line")
print("this is the \tfirst line")
print("This is the \\nfirst line")
print("This is the \\tfirst line")
print(3*'Hai')

Hello
Hello
This is the
first line
this is the 	first line
This is the \nfirst line
This is the \tfirst line
HaiHaiHai

In [2]:
print("City name="+"Hyderabad")
print("City name=","Hyderabad")

City name=Hyderabad
City name= Hyderabad

In [3]:
a,b = 2,4
print(a)
print(a,b)

2
2 4

In [4]:
print(a,b,sep=",")
print(a,b,sep=':')
print(a,b,sep="-----")

2,4
2:4
2-----4

In [5]:
print("Hello")
print("Dear")
print('How are you?')

Hello
Dear
How are you?

In [6]:
print("Hello",end='')
print('Dear',end="")
print('How are U?',end='')

HelloDearHow are U?

In [7]:
print("Hello",end='\t')
print('Dear',end="\t")
print('How are U?',end='\t')

Hello	Dear	How are U?

In [8]:
lst = [10,"A",'Hai']
print(lst)
d = {'Idly':30.00,'Roti':45.00,'Chappati':55.50}
print(d)

[10, 'A', 'Hai']
{'Idly': 30.0, 'Roti': 45.0, 'Chappati': 55.5}

In [9]:
a = 2
print(a ,"is even number")
print('You typed', a ,"as input")

2 is even number
You typed 2 as input

In [11]:
x = 10
print('value = %i'%x)
x,y = 10,15
print("x = %i y = %d" %(x,y))

value = 10
x = 10 y = 15

In [15]:
name = 'Linda'
print('Hai %s'%name)
print('Hai(%20s)'%name)
print("Hai(%-20s)"%name)

Hai Linda
Hai(               Linda)
Hai(Linda               )

In [16]:
name = 'Linda'
print('Hai %c, %c'%(name[0],name[1]))
print('Hai %s'%(name[0:2]))

Hai L,i
Hai Li

In [18]:
num = 123.456789
print('The value is : %f'%num)
print('The value is : %8.2f'%num)
print('The value is : %.2f' %num)

The value is : 123.456789
The value is :   123.46
The value is : 123.46

In [19]:
n1,n2,n3= 1,2,3
print('number1 = {0}'.format(n1))
print('number1 = {0}, number2 = {1}, number3 = {2}'.format(n1,n2,n3))
print('number1 = {1}, number2 = {0}, number3 = {2}'.format(n1,n2,n3))
print('number1 = {one}, number2 = {two}, number3 = {three}'.format(one = n1,two = n2,three = n3))
print('number1 = {}, number2 = {}, number3 = {}'.format(n1,n2,n3))

number1=1
number1=1, number2=2, number3=3
number1=2, number2=1, number3=3
number1 = 1, number2 = 2, number3 = 3
number1 = 1, number2 = 2, number3 = 3

In [21]:
print(f"number1 = {n1}, number2 = {n2}, number3 = {n3}")

number1 = 1,number2 = 2,number3 = 3

In [24]:
name ,salary = 'Ravi',12500.75
print('Hello {0}, your salary is {1}'.format(name,salary))
print('Hello {n}, your salary is {s}'.format(n = name , s = salary))
print("Hello {:s}, your salary is {:.2f}".format(name,salary))
print('Hello %s, your salary is %.2f'%(name,salary))
print(f"Hello {name}, your salary is {salary}")

Hello Ravi, your salary is 12500.75
Hello Ravi, your salary is 12500.75
Hello Ravi, your salary is 12500.75
Hello Ravi, your salary is 12500.75
Hello Ravi, your salary is 12500.75

In [25]:
str = input()
print(str)

PK
PK

In [26]:
str = input('Enter your name:')
print(str)

Enter your name:PK
PK

In [27]:
str = input('Enter a number: ')
x = int(str)
print(x)

Enter a number: 125
125

In [28]:
x = int(input('Enter a number: '))
print(x)
x = float(input('Enter a number: '))
print(x)

Enter a number: 125
125
Enter a number: 12.345
12.345

In [29]:
# accepting a string from keyboard

str = input("Enter a string: ")
print("U entered: ",str)

Enter a string: Hello PK
U entered:  Hello PK

In [30]:
# accepting a single character or a string from keyboard 
ch = input("Enter a char : ")
print("U enterd: " +ch)
ch = input("Enter a char : ")
print("U enterd: " +ch)

Enter a char : A
U enterd: A
Enter a char : abcd
U enterd: abcd

In [31]:
# accepting a single character from keyboard
ch = input("Enter a char : ")
print("U entered: "+ch[0])

Enter a char : abcdef
U entered: a

In [32]:
# accepting integer from keyboard
str = input("Enter a number: ")
x = int(str)
print('U entered: ',x)

Enter a number: 562003
U entered:  562003

In [35]:
# accepting integer number from keyboard  - v2.0
x = int(input('Enter a number : '))
print('U entered : ',x)

Enter a number : 21219967
U entered :  21219967

In [36]:
#accepting float number from keyboard
x = float(input('Enter a number : '))
print('U entered : ',x)

Enter a number : 9.1234567890
U entered :  9.123456789

In [37]:
# accepting two numbers from keyboard
x = int(input('Enter first number : '))
y = int(input('Enter second number : '))
print("U entered :",x, y)

Enter first number : 12
Enter second number : 45
U entered : 12 45

In [38]:
# find sum of two numbers
x = int(input('Enter first number : '))
y = int(input('Enter second number : '))
print('The sum of ',x,' and ',y,'is ',x+y)
print("The sum of {} and {} is {}".format(x,y,x+y))
print(f"The sum of {x} and {y} is{x+y}")

Enter first number : 88
Enter second number : 98
The sum of  88  and  98 is  186
The sum of 88and 98 is 186
The sum of 88 and 98 is186

In [39]:
# find sum and product of two numbers
x = int(input('Enter first number :'))
y = int(input('Enter second number : '))
print("The sum of {0} and {1} is {2}".format(x,y,x+y))
print("The product of {0} and {1} is {2}".format(x,y,x*y))
print("The sum of {0} and {1} is {2} and product of {0} and {1} is {3}".format(x,y,x+y,x*y))

Enter first number :45
Enter second number : 65
The sum of 45 and 65 is 110
The product of 45 and 65 is 2925
The sum of 45 and 65 is 110 and product of 45 and 65 is 2925

In [40]:
# input from other number systems
str = input('Enter hexadecimal number : ')
n = int(str,16)
print('Hexadecimal to Decimal = ',n)
str = input('Enter octal number : ')
n = int(str,8)
print('Octal to Decimal = ',n)
str = input('Enter binary number : ')
n = int(str,2)
print('Binary to Decimal = ',n)

Enter hexadecimal number : a
Hexadecimal to Decimal =  10
Enter octal number : 10
Octal to Decimal =  8
Enter binary number : 1101
Binary to Decimal =  13

In [2]:
# accepting 3 numbers separated by space
var1,var2,var3 = [int(x) for x in input("Enter three numbers : ").split()]
print('Sum = ',var1+var2+var3)

Enter three numbers : 10 20 30
Sum =  60

In [3]:
# accepting 3 numbers separated by comma.
var1 ,var2 ,var3 = [int(x) for x in input("Enter three numbers : ").split(',')]
print('Sum = ',var1+var2+var3)

Enter three numbers : 10,20,30
Sum =  60

In [4]:
# accepting a group of strings from keyboard.
lst = [x for x in input("Enter strings: ").split(',')]
print('You entered :\n',lst)

Enter strings: Anil , Vijay Kumar , Priya
You entered :
 ['Anil ', ' Vijay Kumar ', ' Priya']

In [5]:
a,b = 5,10
result = eval("a+b-4")
print(result)

11

In [6]:
# using eval() along with the input() function
x = eval(input("Enter an expression : "))
print("Result = %d"%x)

Enter an expression : 10+5-4
Result = 11

In [7]:
# accepting a list from keyboard
lst = eval(input("Enter a list: "))
print("List = ",lst)

Enter a list: ["Ajay","Preethi","Sashank","Vishnu"]
List =  ['Ajay', 'Preethi', 'Sashank', 'Vishnu']

In [8]:
lst = eval(input("Enter a list: "))
print("List = ",lst)

Enter a list: [10,20,30,40,50]
List =  [10, 20, 30, 40, 50]

In [9]:
tpl = eval(input("Enter a tuple :"))
print("Tuple = ",tpl)

Enter a tuple :(10,20,30,40)
Tuple =  (10, 20, 30, 40)