In [1]:
# a general way to create a list
# create a list with integer numbers
num = [10,20,30,40,50]
print('Total list = ',num)                      # display total list
print('First = %d , Last = %d'%(num[0],num[4])) # display first and last element

# create a list with strings
names =['Raju','Vani','Gopal','Laxmi']
print('Total list = ',names)                        # display entire list
print('First = %s , Last = %s'%(names[0],names[3])) # display first and last elements

# create a list with different elements
x = [10,20,10.5,2.55,'Ganesh','Vishnu']
print('Total list = ',x)                    # display entire list        
print('First = %d , Last = %s'%(x[0],x[5])) # display first and last elements

Total list =  [10, 20, 30, 40, 50]
First = 10 , Last = 50
Total list =  ['Raju', 'Vani', 'Gopal', 'Laxmi']
First = Raju , Last = Laxmi
Total list =  [10, 20, 10.5, 2.55, 'Ganesh', 'Vishnu']
First = 10 , Last = Vishnu

In [2]:
# creating lists using range() function
# create a list with 0 to 9 consecutive integer numbers
list1 = range(10)
for i in list1:   # display element by element
    print(i , ' ,',end='')
print()    # throw cursor to next line

# create a list with integers from 5 to 9
list2 = range(5,10)
for i in list2:
    print(i , ' ,',end='')
print()

# create a list with odd numbers from 5 to 9
list3 = range(5,10,2)
for i in list3:
    print(i, ' ,',end='')

0  ,1  ,2  ,3  ,4  ,5  ,6  ,7  ,8  ,9  ,
5  ,6  ,7  ,8  ,9  ,
5  ,7  ,9  ,

In [3]:
# displaying list elements using while and for loops
lst = [10,20,30,40,50]
print('Using while loop')
i = 0
while i <len(lst):  # repeat from 0 to length of list
    print(lst[i])
    i +=1
print('Using for loop')
for i in lst:   # repeat for all elements
    print(i)

Using while loop
10
20
30
40
50
Using for loop
10
20
30
40
50

In [4]:
lst = [1,2,3,4]  # create a list using list() and range()
print(lst)
lst.append(9)            # append a new element to lst
print(lst)
lst[1] = 8               # update 1st element of lst
print(lst)
lst[1:3] = 10,11         # update 1st and 2nd elements of lst
print(lst)
del lst[1]               # delete 1st element from 1st
print(lst)
lst.remove(11)           # delete 11 from lst
print(lst)
print(lst.reverse())     # reverse method

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 8, 3, 4, 9]
[1, 10, 11, 4, 9]
[1, 11, 4, 9]
[1, 4, 9]
None

In [5]:
lst = [1,2,3,4,5]
print(lst)
print(lst.reverse())

[1, 2, 3, 4, 5]
None

In [6]:
# displaying list elements in reverse order
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday']

print('\nIn reverse order : ')
i = len(days) - 1   # i will be 4
while i >= 0:
    print(days[i])   # display from 4th to 0th elements
    i -=1
    
print('\nIn reverse order : ')
i = -1                 # days[-1] represents last element
while i >= -len(days):  # display from -1th to -5th elements
    print(days[i])
    i -= 1

In reverse order :
Thursday
Wednesday
Tuesday
Monday
Sunday

In reverse order :
Thursday
Wednesday
Tuesday
Monday
Sunday

In [7]:
# concatenation of two lists
x = [10,20,30,40,50]
y = [100,110,120]
print(x+y)   # concatenate x and y

[10, 20, 30, 40, 50, 100, 110, 120]

In [8]:
# repetition of lists
print(x*2)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [9]:
# Membership in lists
x = [10,20,30,40,50]
a = 20
print(a in x)     # check if a is member of x
print(a not in x) # check if a is not a member of x

True
False

In [10]:
# aliasing lists
x = [10,20,30,40,50]
y = x  # x is aliased as y
print(x) 
print(y)
x[1] = 99   # modify 1st element in x
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 99, 30, 40, 50]
[10, 99, 30, 40, 50]

In [11]:
# cloning lists
x = [10,20,30,40,50]
y = x[:]# x is cloned as y
# y = x.copy()
print(x)
print(y)
x[1] = 99    # modify 1st element
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 99, 30, 40, 50]
[10, 20, 30, 40, 50]

In [12]:
# Python's list methods
num = [10,20,30,40,50]

n = len(num)
print('No. of elements in num : ',n)

num.append(60)
print('num after appending 60 : ',num)

num.insert(0,5)
print('num after inserting 5 at 0th position : ',num)

num1 = num.copy()
print('Newly created list num1 : ',num)

num.extend(num1)
print('num after appending num1 : ',num)

n = num.count(50)
print('No. of times 50 found in the list num : ',n)

num.remove(50)
print('num after removing 50 : ',num)

num.pop()
print('num after removing ending element : ',num)

num.sort()
print('num after sorting :',num)

num.reverse()
print('num after reversing : ',num)

num.clear()
print('num after removing all elements : ',num)

No. of elements in num :  5
num after appending 60 :  [10, 20, 30, 40, 50, 60]
num after inserting 5 at 0th position :  [5, 10, 20, 30, 40, 50, 60]
Newly created list num1 :  [5, 10, 20, 30, 40, 50, 60]
num after appending num1 :  [5, 10, 20, 30, 40, 50, 60, 5, 10, 20, 30, 40, 50, 60]
No. of times 50 found in the list num :  2
num after removing 50 :  [5, 10, 20, 30, 40, 60, 5, 10, 20, 30, 40, 50, 60]
num after removing ending element :  [5, 10, 20, 30, 40, 60, 5, 10, 20, 30, 40, 50]
num after sorting : [5, 5, 10, 10, 20, 20, 30, 30, 40, 40, 50, 60]
num after reversing :  [60, 50, 40, 40, 30, 30, 20, 20, 10, 10, 5, 5]
num after removing all elements :  []

In [13]:
# finding biggest and smallest numbers in a list of numbers
x = []  # take an empty list

print('How many elements? ',end='')
n = int(input())   # accept input into n

for i in range(n):  # repeat for n times
    print('Enter element : ',end='')
    x.append(int(input()))    # add the element to the list x

print('The list is : ',x)   # display the list

big = x[0]   # initially 0th element becomes maximum and minimum
small = x[0]

for i in range(1,n):  # repeat from 1 to n-1 elements
    if x[i]>big:
        big = x[i]    # if any other element is > big , take it as big
    if x[i]<small:
        small = x[i]  # if any other element is < small , take it as small
# display max and min elements
print('Maximum is : ',big)  
print('Minimum is : ',small)

How many elements? 5
Enter element : 20
Enter element : 10
Enter element : 5
Enter element : 20
Enter element : 15
The list is :  [20, 10, 5, 20, 15]
Maximum is :  20
Minimum is :  5

In [14]:
x = [10,20,30,40,50,60,60,70,80,90,99,100]
print(max(x))
print(min(x))

100
10

In [15]:
# sorting a list using bubble sort technique
# crate an empty list to store integers'
x = []

# store elements into the list x
print('How many elements? ',end='')
n = int(input())

for i in range(n):
    print('Enter element : ',end='')
    x.append(int(input()))  # add element to the list

print('Orginal list : ',x)

# bubble sort
flag = False  # when swapping is done , flag becomes False
for i in range(n-1):   # i is from 0 to n-1
    for j in range(n-i-1):# j is from 0 to one element lesser than i
        if x[j] > x[j+1]:       # if 1st element is bigger than second
            t = x[j]         # swap j and j+1 elements
            x[j] = x[j+1]
            x[j+1] = t
            flag = True      # swaping is done , hence flag is True
    if flag == False:        # no swapping means list is in sorted order
        break               # come out of inner for loop
    else: 
        flag = False         # assign initial value to flag
print('Sorted list : ',x)

How many elements? 5
Enter element : 1
Enter element : 5
Enter element : 4
Enter element : 3
Enter element : 2
Orginal list :  [1, 5, 4, 3, 2]
Sorted list :  [1, 2, 3, 4, 5]

In [16]:
# counting how many times an element occured in the list
x = []  # take an empty list

n = int(input('How many elements ? '))   # accept input into n

for i in range(n):          # repeat for n times
    print('Enter element : ',end='')
    x.append(int(input()))  # add the element to the list x
    
print('The list is : ',x)   # display the list

y = int(input('Enter element to count : '))
c = 0
for i in x:
    if (y==i):
        c +=1
print('{} is found {} times'.format(y,c))

How many elements ? 5
Enter element : 40
Enter element : 20
Enter element : 30
Enter element : 50
Enter element : 40
The list is :  [40, 20, 30, 50, 40]
Enter element to count : 40
40 is found 2 times

In [17]:
# finding common element in two lists

# take two lists
scholar1 = ['Vinay','Krishna','Saraswathi','Govind']
scholar2 = ['Rosy','Govind','Tanushri','Vinay','Vishal']

# convert them into sets
s1 = set(scholar1)
s2 = set(scholar2)

# find intersection of two sets
s3 = s1.intersection(s2)

# convert the resultant set into a list
common = list(s3)
# display the list 
print(common)

['Vinay', 'Govind']

In [18]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# retrieving employee details from a list
emp = []  # take an empty list

n = int(input('How many empolyees ? ')) # accept input into n

for i in range(n): # repeat for n times
    print('Enter id : ',end='')
    emp.append(int(input()))
    print('Enter name : ',end='')
    emp.append(input())
    print('Enter salary : ',end='')
    emp.append(float(input()))
    
print('The list is created with employee data.')

id = int(input('Enter Employee id : '))

# display employee details upon taking id.
for i in range(len(emp)):
    if id==emp[i]:
        print('Id = {:d} , Name = {:s} ,Salary = {:.2f}'.format(emp[i],emp[i+1],emp[i+2]))
        break

How many empolyees ? 4
Enter id : 10
Enter name : Vijaya lakshmi
Enter salary : 7000.50
Enter id : 11
Enter name : Gouri shankar
Enter salary : 9500.50
Enter id : 12
Enter name : Anil kumar
Enter salary : 8000
Enter id : 13
Enter name : Hema chandra
Enter salary : 8500.75
The list is created with employee data.
Enter Employee id : 12
Id = 12 , Name = Anil kumar ,Salary = 8000.00

In [20]:
a = [80,90]
b = [10,20,30,a]
print(b)

[10, 20, 30, [80, 90]]

In [21]:
# nested lists
# To create a list with another list as element
lst = [10,20,30,[80,90]]
print('Total list : ',lst)  # display entire list
print('First element = ',lst[0])  # display first element
print('Last element is nested list = ',lst[3])  # display nested list
for x in lst[3]:  # display all element in nested list 
    print(x)

Total list :  [10, 20, 30, [80, 90]]
First element =  10
Last element is nested list =  [80, 90]
80
90

In [22]:
print(lst[3][0])
print(lst[3][1])

80
90

In [23]:
# displaying nested list as a matrix
# take a nested list
mat = [[1,2,3],[4,5,6],[7,8,9]]

print('Display the list as it is : ')
print(mat)

print('Display row by row : ')
for r in mat:
    print(r)
    
print('Display each column(element) in row 0 : ')
for c in mat[0]:
    print('%d '%c,end='')
print()

print('Display each column in row 1 : ')
for c in mat[1]:
    print('%d '%c,end='')
print()

print('Display each column in row 2 : ')
for c in mat[2]:
    print('%d '%c,end='')
print()

print('Display all elements using for : ')
for r in mat:
    for c in r:  # display columns in each row
        print(c ,end=' ')
    print()
    
print('Display all elements using for : ')
for i in range(len(mat)):
    for j in range(len(mat[i])):
        print('%d '%mat[i][j],end='')
    print()

Display the list as it is :
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Display row by row :
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Display each column(element) in row 0 :
1 2 3
Display each column in row 1 :
4 5 6
Display each column in row 2 :
7 8 9
Display all elements using for :
1 2 3
4 5 6
7 8 9
Display all elements using for :
1 2 3
4 5 6
7 8 9

In [25]:
# nested list - matrix addition
# take matrix one with 3 rows and 4 cols
m1 = [ [1,2,3,0],
       [4,5,6,0],
       [7,8,9,0] ]
# take matrix two with 3 rows and 4 cols
m2 = [ [1,2,3,4],
       [1,0,1,0],
       [2,-1,-2,1] ]

# take matrix three with 3 rows and 4 cols and initialize with all 0's
m3 = [4*[0] for i in range(3)]

# add the corresponding elements of m1 and m2 and store into m3
for i in range(3):
    for j in range(4):
        m3[i][j] =m1[i][j] + m2[i][j]

# display the third matrix using for loop
for i in range(3):
    for j in range(4):
        print('%d '%m3[i][j],end='')
    print()

2 4 6 4
5 5 7 0
9 7 7 1

In [2]:
squares = []            # create empty list
for x in range(1,11):   # repeat x values from 1 to 10
    squares.append(x**2)   # add squares of x to the list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
even_squares = [x**2 for x in range(1,11) if x%2==0]
print(even_squares)

[4, 16, 36, 64, 100]

In [5]:
even_squares = [x**2 for x in range(2,11,2)]
print(even_squares)

[4, 16, 36, 64, 100]

In [7]:
x = [10,20,30]
y = [1,2,3,4]
lst = []
for i in x:
    for j in y:
        lst.append(i+j)
print(lst)

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [8]:
lst = [i+j for i in x for j in y]
print(lst)

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [9]:
lst = [i+j for i in [10,20,30] for j in [1,2,3,4]]
print(lst)

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [10]:
lst = [i+j for i in 'ABC' for j in 'DE']
print(lst)

['AD', 'AE', 'BD', 'BE', 'CD', 'CE']

In [11]:
words = ['Apple','Grapes','Banana','Orange']
lst = []
for w in words:
    lst.append(w[0])
print(lst)

['A', 'G', 'B', 'O']

In [12]:
lst = [w[0] for w in words]
print(lst)

['A', 'G', 'B', 'O']

In [13]:
num1 = [1,2,3,4]
num2 = [10,11,1,2]
num3 = []
for i in num1:
    if i not in num2:
        num3.append(i)
print(num3)

[3, 4]

In [14]:
num3 = [i for i in num1 if i not in num2]
print(num3)

[3, 4]

In [16]:
dict1 = {1001 : 'Pratap',1002 : 'Mohan',1003 : 'Ankita'}
dict2 = {value : key for key,value in dict1.items()}
print(dict1)
print(dict2)

{1001: 'Pratap', 1002: 'Mohan', 1003: 'Ankita'}
{'Pratap': 1001, 'Mohan': 1002, 'Ankita': 1003}