In [1]:
tup1 = () # empty tuple
tup2 = (10,) # tuple with one element
tup3 = (10,20,-30.1,40.5,'Hyderabad','New Dehli')  # tuple with different data types
tup4 = (10,20,30)   # no braces
tup5 = 1,2,3,4  # no braces
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

()
(10,)
(10, 20, -30.1, 40.5, 'Hyderabad', 'New Dehli')
(10, 20, 30)
(1, 2, 3, 4)

In [2]:
# accesing tuple element
tup = (50,60,70,80,90,100)
print(tup[0])
print(tup[5])
print(tup[-1])
print(tup[-6])
print(tup[:])
print(tup[1:4])
print(tup[::2])
print(tup[::-2])
print(tup[-4:-1])

50
100
100
50
(50, 60, 70, 80, 90, 100)
(60, 70, 80)
(50, 70, 90)
(100, 80, 60)
(70, 80, 90)

In [3]:
student = (10,'Vinay kumar',50,60,65,61,70)
rno,name = student[0:2]
print(rno)
print(name)
marks = student[2:7]  # store the elements from 2nd to 6th into marks
# tuple
for i in marks:
    print(i)

10
Vinay kumar
50
60
65
61
70

In [5]:
# basic operation on tuples
student = (10,'Vinaykumar',50,60,65,61,70)
print(len(student))
fees = (25000.00,)*4
print(fees)
student1 = student+fees
print(student1)
name = 'Vinaykumar'
print(name in student1)
print(name not in student1)

7
(25000.0, 25000.0, 25000.0, 25000.0)
(10, 'Vinaykumar', 50, 60, 65, 61, 70, 25000.0, 25000.0, 25000.0, 25000.0)
True
False

In [6]:
tpl = (10,11,12)
tpl1 = tpl*3    # repeat for 3 times and store in tpl1
print(tpl1)

(10, 11, 12, 10, 11, 12, 10, 11, 12)

In [7]:
# program to find sum and average of elements in a tuple
num = eval(input('Enter elements in () : '))
sum = 0
n = len(num)  # n is no. of elements in the tuple
for i in range(n):  # repeat i from 0 to n-1
    sum += num[i]   # add each element to sum
    
print('Sum of numbers : ',sum)  # display sum
print('Average of numbers : ',sum/n)  # display average

Enter elements in () : (1,2,3,4,5,6)
Sum of numbers :  21
Average of numbers :  3.5

In [8]:
# inserting elements from keyboard into the tuple and finding element position
# accept elements from keyboard as strings seperated by commas
str = input('Enter elements seperated by commas : ').split(',')
lst = [int(num) for num in str]   # convert strings into integers and store into a list
tup = tuple(lst)  # convert lsit into tuple

print('The tuple is : ',tup)  # display the tuple
ele = int(input('Enter an element to search : '))
try:
    pos = tup.index(ele)  # return first occurence of element
    print('Element position no : ',pos+1)
except ValueError:  # if element not found , ValueError will rise
    print('Element not found in tuple')

Enter elements seperated by commas : 10,20,30,20,40
The tuple is :  (10, 20, 30, 20, 40)
Enter an element to search : 20
Element position no :  2

In [10]:
# Nested tuple
tup = (50,60,70,80,90,(200,201))  #tuple with elements
print('Nested tuple = ',tup[5])

Nested tuple =  (200, 201)

In [14]:
emp = ((10,"Vijay",9000.90),(20,"Nihaar",5500.75),(30,'Vinaja',8900.00),(40,'Kapoor',5500.75))
print(emp[0])
print(emp[0][0])
print(emp[0][1])
print(emp[0][2])

(10, 'Vijay', 9000.9)
10
Vijay
9000.9

In [15]:
# sorting a tuple that contains tuples as elements
# take employee tuple with id number , name and salary
emp = ((10,"Vijay",9000.90),(20,"Nihaar",5500.75),(30,'Vinaja',8900.00),(40,'Kapoor',5500.75))

print(sorted(emp))  # sorts by default on id
print(sorted(emp , reverse=True))  # reverses on id
print(sorted(emp , key = lambda x : x[1]))  # sort on name
print(sorted(emp , key = lambda x : x[2]))  # sort on salary

[(10, 'Vijay', 9000.9), (20, 'Nihaar', 5500.75), (30, 'Vinaja', 8900.0), (40, 'Kapoor', 5500.75)]
[(40, 'Kapoor', 5500.75), (30, 'Vinaja', 8900.0), (20, 'Nihaar', 5500.75), (10, 'Vijay', 9000.9)]
[(40, 'Kapoor', 5500.75), (20, 'Nihaar', 5500.75), (10, 'Vijay', 9000.9), (30, 'Vinaja', 8900.0)]
[(20, 'Nihaar', 5500.75), (40, 'Kapoor', 5500.75), (30, 'Vinaja', 8900.0), (10, 'Vijay', 9000.9)]

In [16]:
# inserting a new element into tuple
names = ('Visnu','Anupama','Lakshmi','Bheeshma')
print(names)

# accept new name and position number
lst = [input('Enter a new name : ')]
new = tuple(lst)
pos = int(input('Enter position no : '))

# copy from 0th to pos-2 into another tuple names1
names1 = names[0:pos-1]

# concatenate new element at pos-1
names1 = names1+new

#concatenate the remaining elements of names from pos-1 till end
names = names1+names[pos-1:]
print(names)

('Visnu', 'Anupama', 'Lakshmi', 'Bheeshma')
Enter a new name : Ganesh
Enter position no : 2
('Visnu', 'Ganesh', 'Anupama', 'Lakshmi', 'Bheeshma')

In [17]:
# modifying an existing element of a tuple
num = (10,20,30,40,50)
print(num)

# accept new element and position number
lst = [int(input('Enter a new elemnt : '))]
new = tuple(lst)
pos = int(input('Enter position no : '))

# copy from 0th to pos-1 into another tuple num1
num1 = num[0:pos-1]

# concatenate new element at pos-1
num1 = num1+new

# concatenate the remaining elements of num from pos till end
num = num1 + num[pos:]
print(num)

(10, 20, 30, 40, 50)
Enter a new elemnt : 88
Enter position no : 3
(10, 20, 88, 40, 50)

In [18]:
# deleting an element of a tuple
num = (10,20,30,40,50)
print(num)

# accept position number of the element to delete
pos = int(input('Enter position no : '))

# copy from 0th to pos-1 into another tuple num1
num1 = num[0:pos-1]

# concatenate the remaining elements of num from pos till end
num = num1+num[pos:]
print(num)

(10, 20, 30, 40, 50)
Enter position no : 3
(10, 20, 40, 50)